<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAPTOP PRICE COMPARISON</title>
    <style>
        table,th,td {border: lpx solid black;}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<h1>Welcome to Laptop Price Comparison</h1>
<h2>Check Prices of  Lenovo Laptops here!!!</h2>
<ul>
    <li>Lastest Laptops</li>
    <li>Comparison between Amazon and Filpkart</li>
    <li>Check Prices</li>
</ul>
<table style = "width:30%">
    <tr>
        <th>Laptop Names</th>
        <th>Amazon Price</th>
        <th>Filpkart Price</th>
    </tr>
    <tr>
        <td>Lenovo ThinkPad E14 Core i3 10th Gen - (4 GB/256 GB SSD/Windows 10 Home) E14 Thin and Light Laptop Lenovo ThinkPad E14 Core i3 10th Gen - (4 GB/256 GB SSD/Windows 10 Home) E14 Thin and Light Laptop</td>
        <td>40,490</td>
        <td>40,990</td>
    </tr>

</table>
</body>
</html>